/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F5EDE0;
    list-style: none;
} */
body {
    font-family: Belleza, sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

a, button{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #667A6B; 
    text-transform: uppercase;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 10;
 }

.logo{
    cursor: pointer;
    /* line-height: 80px; */
    padding: 0 100px;
    font-weight: bold;
}

.nav__links {
    list-style: none;
    float: right;
    margin-right: 40px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
    /* line-height: 80px; */
    margin: 0 5px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: #839788;
}


button {
    padding: 9xp 25px;
    background-color: #222222;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
} 

 button:hover {
    background-color: #cccccc;
} */
/* end of button */

.tech-skills li {
    list-style: none;
}

.bio p {
    display: flex;
    top: 80px;
    width: 520px;
    height: 150px;
    justify-content: center;
    /* margin:  30px; */
    text-align: right;
    font-size: 23px;
    position: absolute;
    /* right: 0; */
    top: 80px;
    padding: 10px;
    z-index: 1;
} 

 .projects{
    margin: auto;
    justify-content: center;
    position: relative;
    top: 180px;
    width: 70%;
} 

 #good-space {
    width: 100%;
}

.gs-photos, .plantify-photos {
    display: flex;
}

.footer {
    background-color: #fff;
    text-align: center;
}

img {
    display: inline-block;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 100px; /* Set a small width */
  }
  
  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    -webkit-transform:scale(5.0);
    transform:scale(5.0);
  }


/* img:hover {
    -webkit-transform:scale(5.0);
    transform:scale(5.0);
} */

/* p {
    min-width: 200px;
    max-width: 800px;
} */